.header {
  height: 50px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.shop-button {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.stick {
  font-size: 24px;
  font-weight: 700;
  margin-right: 20px;
}

.cart-button {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.shops-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  height: 85vh;
  width: 300px;
  border: 1px solid #000;
  border-radius: 20px;
}

.title {
  font-size: 22px;
}

.shop-list {
  width: 250px;
  margin-top: 20px;
}

.shop-block {
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container {
  display: flex;
}

.goods-block {
  display: flex;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 10px;
  height: 85vh;
  width: 100%;
  border: 1px solid #000;
  border-radius: 20px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
}

.good-block {
  position: relative;
  display: flex;
  margin-left: 45px;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 20px;
  height: 270px;
}

.good-img {
  height: 200px;
  width: 220px;
  margin-bottom: 10px;
}

.good-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.good-button {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 100px;
  right: 10px;
  bottom: 10px;
}
