.header {
  height: 50px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.shop-button {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.stick {
  font-size: 24px;
  font-weight: 700;
  margin-right: 20px;
}

.cart-button {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.shops-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.title {
  font-size: 22px;
}

.shop-list {
  width: 250px;
  margin-top: 20px;
}

.shop-block {
  border: 1px solid #000;
  border-radius: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  height: 85vh;
  width: 300px;
  border: 1px solid #000;
  border-radius: 20px;
}